/*GENERAL SETTINGS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*, :after, :before, ::after, ::before {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a,
button {
    border: none;
    outline: none;   
    cursor: pointer;
    background: none;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    background-color: transparent;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;  
    z-index: 99;  
}

p {
    font-size: 1.4rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

body {
    display: grid;
    grid-template: 
    "home" 100vh
    "about"
    "about"
    "projects" 
    "contact" 
    "footer" 
    /1fr;
    font-family: 'Montserrat', sans-serif;
}

section {    
    padding: 2rem;
}

/*TOP SECTION*/

.home {
    color: white;
    grid-area: home;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1 {
    margin: 0 0 10rem;
    font-size: 2.8rem;
    line-height: 1.5;
    text-align: left;
}

.home .hover-btn {
    justify-self: center;   
}

.title-color {    
    background: -webkit-linear-gradient(135deg, #add6e2 0%, #5ab6e0  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-btn {
    display: inline-block;
    position: relative;
    padding: .8rem 1.6rem;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1;
    z-index: 2;
    transition: all .6s cubic-bezier(.19,1,.22,1);
    border-image: linear-gradient(135deg, #5ab6e0 0%, #add6e2 100%);
    background: linear-gradient(135deg, #5ab6e0 0%, #add6e2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, #5ab6e0 0%, #add6e2 100%);
    border-image-slice: 1;
}

@keyframes move-twink-back {    
    from {background-position:0 0;}    
    to {background-position:-10000px 5000px;}    
 }
    
@-webkit-keyframes move-twink-back {    
    from {background-position:0 0;}    
    to {background-position:-10000px 5000px;}    
}
    
@-moz-keyframes move-twink-back {    
    from {background-position:0 0;}    
    to {background-position:-10000px 5000px;}    
}
    
@-ms-keyframes move-twink-back {    
    from {background-position:0 0;}    
    to {background-position:-10000px 5000px;}    
}

.stars, .twinkling {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.stars {
  z-index: 0;
  background: #000 url(images/stars.png) repeat top center;  
}

.twinkling {
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -moz-animation: move-twink-back 200s linear infinite;  
  -webkit-animation: move-twink-back 200s linear infinite;
  background: transparent url(images/twinkling.png) repeat top center;
} 

/*ABOUT SECTION*/

.about {
    grid-area: about;
    display: grid;
    grid-template: 
    "h2 h2 h2 h2"
    "img img img img"
    "p p p p"
    ". btn btn ."
    /1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: #5ab6e0;
    background-image: linear-gradient(135deg,#5ab6e0,#add6e2);
    color: #fff;  
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;
}

.about:after {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background: black;
    content: '';
    position: absolute;
    left: 0;
    top: 89.5%;
    right: 0;
    height: 100%;
    display: block;
}

.about h2 {
    grid-area: h2;
    margin: 1rem 0 3rem;
}

.about img {
    grid-area: img;
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
}

.about-text {
    grid-area: p;
    margin: 4rem 0 ;
}

.about-text a {
    color: white;
}

.hover-btn-resume {
    grid-area: btn;
    height: 4rem;
    width: 14rem;
    color: white; 
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0 10rem;
    border: 0.2rem solid white; 
}

/*PROJECTS SECTION*/
.projects {
    grid-area: projects;
    display: grid;
    grid-template: 
    "h2 h2 h2"
    "pc pc pc"
    /1fr 1fr 1fr;
}

.projects h2 {
    grid-area: h2;
    margin: 0 0 4.5rem;
    text-transform: uppercase;
    justify-self: center;
}

.projects-container {
    grid-area: pc;
}

.project-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
}

.project-description {
    width: 100%;
}

.project-description h3 {
    font-weight: 700;
    margin-bottom: 1.8rem;
    font-size: 2rem;
    text-align: left;
}

.project-description p {
    text-align: left;
}

.project-btns-container {
    margin-top: 1.5rem;
    text-align: left;
}

.project-btns-container .hover-btn {
    font-size: 1.5rem;
    padding: .6rem 1.2rem;
}

.source-code-btn {
    font-size: 1.5rem;
    font-weight: 700;
    color: #5ab6e0;
    padding: 0.8rem 1.6rem;
}

.project-photo {
    width: 100%;
    margin-top: 3rem;
}

.responsive {
    height: auto;
    max-width: 700px;
    width: 100%;
}

/*CONTACT SECTION*/

.contact {
    grid-area: contact;
    background-color: #5ab6e0;
    background-image: linear-gradient(135deg,#5ab6e0,#add6e2);
    color: #fff;  
    -webkit-clip-path: polygon(0 20%,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 20%,100% 0,100% 100%,0 100%);
    position: relative;
    
}

.contact:after {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background: black;
    content: '';
    position: absolute;
    left: 0;
    bottom: 79%;
    right: 0;
    height: 100%;
    display: block;
}

.contact .container {
    align-items: center;
    justify-content: center;
}

.contact .container h2 {
    margin-top: 5rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    color: white;
    overflow: hidden;
    position: relative;
    background: black;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
    transition: .3s;
}

.slide-content {
    height: 20rem;
    width: 20rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right: -100%;
    position: absolute;
    transition: .5s;
}

.container .box h2 {
    margin: 0;
    font-size: 1.6rem;
    transition: .3s;
}

.box h3 {
    font-size: 2.8rem;
}

.box p {
    font-size: 1.4rem;
}

.box:hover h2 {
    opacity: 0;
}

.box:hover .slide-content {
    right: 0;
}

.box span{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

.box span:nth-child(1) {
    left: -50%;
    transform:rotate(0deg);  
}
  
.box span:nth-child(2) {
    transform:rotate(180deg);
    left: 50%;
}

.box span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(135deg,#add6e200 0%, #ffffff 100%); 
  animation: animate 2s linear infinite;  
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50% {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform:scaleX(1);
        transform-origin: right;      
    }    
    100% {
        transform:scaleX(0);
        transform-origin: right;      
    }    
} 

/*FOOTER*/

footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-size: 1.5rem;
    color: white;
    padding: 5rem 0 5rem 0;
}

footer .container {
    justify-content: center;
    align-items: center;
}

.back-to-top {
    margin-bottom: 4rem;
}

.social-links a img {
    height: auto;
    width: 100%;
    max-width: 3.5rem;
}

.social-links a:last-child {
    margin-left: 3rem;
}

footer hr {
    margin: 2.5rem 0 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
}

footer .container p span {
    color: #5ab6e0;
}


/* RESPONSIVE DESIGN */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    section {
        padding: 4rem;
    }
  }
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   

    .about {
        grid-template: 
        "h2 h2 h2"
        "img . p"
        ". . btn"
        /1fr 2rem 1fr;
    }

    .about-text {
        margin-top: 0;
    }

    .hover-btn-resume {
        margin: 0 0 5rem 0;
    }

    .projects {
        grid-template: 
        ". h2 ."
        ". pc ."
        /1fr 8fr 1fr;
    }
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    html {
        font-size: 60%;
    }

    /*TOP SECTION*/

    .hover-btn:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all .3s cubic-bezier(.19,1,.22,1);
        background-image: linear-gradient(135deg, #5ab6e0 0%, #add6e2 100%);
    }
    
    .hover-btn:hover {
        -webkit-text-fill-color: white;
    }

    .hover-btn:hover:after {
        width: 100%;
    }

    /*ABOUT SECTION*/

    .about {
        grid-template: 
        ". h2 h2 h2 ."
        ". img . p ."
        ". . . btn ."
        /1fr 2fr 3rem 2fr 1fr;
        }

    .hover-btn-resume {
        padding: 0;
        transition: .3s;
    }

    .hover-btn-resume:hover {
        color: #5ab6e0;
    }

    .hover-btn-resume:before {
        top: 0;
        left: 0;
        width: 0;
        z-index: -1;
        content: '';   
        height: 100%;
        display: block;
        position: absolute;
        background: white;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    }

    .hover-btn-resume:hover:before {
        width: 13.85rem;
    }

    /*PROJECTS SECTION*/

    .projects {
        grid-template: 
        ". h2 ."
        ". pc ."
        /2fr 8fr 2fr;
    }

    .project-container {
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 8rem;
    }

    .project-description {
        width: 63%;
        display: flex;
        flex-direction: column;
    }

    .source-code-btn {
        transition: .3s ease;
        padding: 0.8rem 1.6rem
    }

    .source-code-btn:hover {
        margin-left: 2rem;
    }

    .project-photo {
        margin: 0 0 0 5rem;
    }    
}  